body{
	font-size: 16px;
	color: #fff;
	background-color: #008080;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #e2f7fd;
}

.navbar-brand h1 {
	color: #000;
	font-size: 2.4em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
}

.navbar-header {
	margin-bottom: 40px;
}

#page-heading {
	font-size: 1.8em;
	text-align: center;
	margin: 40px 0px 60px; 
}

#menu-tile #tile-name{
	font-size: 1.5em;
	text-align: center;
	font-style: italic;
}

#menu-tile {
	background-color: #802000;
	padding: 20px 30px 20px 30px;
	margin-bottom: 25px;
}

#back-to-top {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
	margin-bottom: 25px;
}

#back-to-top span {
	background-color: #fff;
	padding: 5px 5px 5px 5px;
}

#back-to-top2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.1em;
	margin: 10px 0px 5px;
}

#back-to-top2 span {
	color: #ffff80;
}

.navbar-toggle {
	margin-top: 40px;
}

.panel-footer {
	background-color: #333333;
	color: #fff;
}